# ───────── Лог-файлы ─────────
*.log


# ───────── Переменные среды и конфиги ─────────
.env


# Стандартный «файл-базз» для папок, который создаёт Finder
.DS_Store

# Если пользуетесь VSCode
.vscode/


# ───────── Python: байткод и «__pycache__» ─────────
__pycache__/
*.pyc


# ───────── Виртуальное окружение ─────────
.venv/